html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: rgb(238, 238, 238);
  }

  body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }

  button{

    border-radius: 2px;
    background-color: ivory;
    color: indianred;
  }

  img {
    display: block;
    margin: 1 auto;
    width: 300px;
    border-style: dashed;
  }

  h1{
      font-size: 30px;
      color: blue;
      text-align: center;
  }

  P, li{

    font-size: 15;
    color: rgb(107, 39, 196);
    letter-spacing: 1px;
    line-height: 2;
  }